body {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}

.header {
    background-color: #6a994e;
    display: flex;
    flex-direction: column;
    padding: 16px 48px;
}

.header-top {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    display: flex;
    gap: 16px;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 150px 0 150px;
    justify-content: center;
    gap: 48px;

}

.hero-main {
    font-size: 48px;
    font-weight: bold;
}

.header-text {
    display: flex;
    flex-direction:column;
    width: 525px;
    gap: 16px;
}
.header-picture {
    background-color: grey;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-secondary {
    font-size: 20px;
}

.button {
    background-color: #3882F6;
    padding: 8px 32px ;
    border-radius: 7px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 24px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}



.header, .footer  {
    background-color: #6a994e;

}


.pictures, .action {
    background-color: #f2e8cf;
    color: black;
    
}

.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 100px;
}

.pictures-title {
    padding-bottom: 40px;
    font-size: 34px;
    font-weight: bold;
}

.pictures-body {
    display: flex;
    gap: 20px;
   
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    width: 175px;
    flex-wrap:wrap;
}

.box-pic {
    border: solid #3882ff;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0px;
}



.quote {
    background-color: #bc4749;
    display: flex;
    justify-content: center;
    font-size:24px;
    padding: 150px 0px;
}

.quote-author {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
    width: 800px;
}

.actual-quote {
    font-style: italic;
    font-weight: lighter;
    
}

.author{
    align-self: flex-end;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0px;
}

.action-container{
    background-color: #3882F6;
    display: flex;
    color: white;
    width: 700px;
    padding: 40px 75px;
    border-radius: 7px;
    align-items: center;
    font-size:18px;
    justify-content: space-between;

}

.action-left {
    display: wrap;
    flex-flow: column wrap;
    gap: 12px;

}

.call {
    font-weight: bold;
    font-size:22px;
}

.sign-up {
    font-weight: lighter;
    font-size: 14px;
}

.sign-button {
    border:solid #f2e8cf;
    border-radius: 7px;
    padding: 8px 32px;
    font-weight: bold;
}

.footer a {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 16px;
}
